<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neeraj.mobilelearning">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".Wort2Zahl" />
        <activity android:name=".markezuzahl" />
        <activity android:name=".wort2ZahlText" />
        <activity android:name=".Speech" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".won" />
        <activity android:name=".PerleZuZahl"></activity>
    </application>

</manifest>